[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
sentry-sdk = {extras = ["flask"],version = "==0.10.0"}
python-dotenv = "==0.10.2"
flask-cors = "==3.0.2"
flask-sqlalchemy = "==2.4.0"
flask-migrate = "==2.5.2"
pymysql = "==0.9.3"
pyjwt = "==1.7.1"
jsonschema = {extras = ["format"],version = "==3.0.1"}
celery = {extras = ["auth", "eventlet", "librabbitmq", "msgpack", "redis"],version = "==4.3.0"}
Flask-Mail = "==0.9.1"
gevent = "==1.4.0"

[requires]
python_version = "3.7"
